* {
    box-sizing: border-box;
}

body {
    background-color: rgb(34, 34, 34);
}

/* Display */
h1,
p,
.board {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white
}

/* Game components */
.square {
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 70px;
    width: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;  
    position: relative;
}

.circle {
    height: 68px;
    width: 68px;
    border-radius: 50%;
    position: absolute;
}

.p1 {
    background: rgba(255, 0, 0, 0.75);
}

.p2 {
    background: rgba(0, 0, 255, 0.75);
}

.isRecent {
    border-width: 5px;
}

/* .board-row:after {
    clear: both;
    content: '';
    display: table;
} */

.reset {
    padding: 5px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Winning squares */
.win-p1 {
    background: red;
}

.win-p2 {
    background: blue;
}