* {
    box-sizing: border-box;
}

/* Display */
h1,
p,
.board {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Game components */
.square {
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 70px;
    width: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

.p1 {
    background: red;
}

.p2 {
    background: blue;
}

.X {
    background: white;
}

.isRecent {
    border-width: 5px;
}

.board-row:after {
    clear: both;
    content: '';
    display: table;
}

.reset {
    padding: 5px;
    font-size: 20px;
}